<?xml version="1.0"?>

<configuration>

  <connectionStrings>
       <add name="ConnectionString" connectionString="server=LAPTOP-39QD72TE\SQL;user=sa;password=123;database=SADNEW"/>
  </connectionStrings>
  <appSettings>
        <add key="SecurityKey" value="duskahghgjgyjgykhkkgkkkukjjhjh"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.web>
    
    <pages clientIDMode="Static">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="Home.aspx" loginUrl="login.aspx">
        <credentials passwordFormat="Clear">
          <user name="1001" password="admin" />
        </credentials>
      </forms>
    </authentication>

    <httpHandlers>
      <add path="document-viewer/ViewDocumentHandler" verb="*" type="Groupdocs.Web.UI.Handlers.ViewDocumentHandler, Groupdocs.Viewer, Culture=neutral"
        validate="false" />
      <add path="document-viewer/GetDocumentPageImageHandler" verb="*"
        type="Groupdocs.Web.UI.Handlers.GetDocumentPageImageHandler, Groupdocs.Viewer, Culture=neutral"
        validate="false" />
      <add path="document-viewer/LoadFileBrowserTreeDataHandler" verb="*"
        type="Groupdocs.Web.UI.Handlers.LoadFileBrowserTreeDataHandler, Groupdocs.Viewer, Culture=neutral"
        validate="false" />
      <add path="document-viewer/GetImageUrlsHandler" verb="*" type="Groupdocs.Web.UI.Handlers.GetImageUrlsHandler, Groupdocs.Viewer, Culture=neutral"
        validate="false" />
      <add path="document-viewer/CSS/GetCssHandler" verb="GET" type="Groupdocs.Web.UI.Handlers.CssHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/images/*" verb="GET" type="Groupdocs.Web.UI.Handlers.EmbeddedImageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="groupdocs/images/*" verb="GET" type="Groupdocs.Web.UI.Handlers.EmbeddedImageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/fonts/*" verb="GET" type="Groupdocs.Web.UI.Handlers.GetFontHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/GetScriptHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.ScriptHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/GetFileHandler" verb="GET" type="Groupdocs.Web.UI.Handlers.GetFileHandler, Groupdocs.Viewer, Culture=neutral"
        validate="false" />
      <add path="document-viewer/GetPdf2JavaScriptHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.GetPdf2JavaScriptHandler, Groupdocs.Viewer, Culture=neutral"
        validate="false" />
      <add path="document-viewer/GetPdfWithPrintDialogHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.GetPdfWithPrintDialogHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/GetPrintableHtmlHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.GetPrintableHtmlHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/GetResourceForHtmlHandler" verb="GET,POST,HEAD"
        type="Groupdocs.Web.UI.Handlers.GetResourceForHtmlHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/GetDocumentPageHtmlHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.GetDocumentPageHtmlHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/ReorderPageHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.ReorderPageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="document-viewer/RotatePageHandler" verb="GET,POST"
        type="Groupdocs.Web.UI.Handlers.RotatePageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ViewDocumentHandler" verb="*" path="document-viewer/ViewDocumentHandler"
        type="Groupdocs.Web.UI.Handlers.ViewDocumentHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetDocumentPageImageHandler" verb="*" path="document-viewer/GetDocumentPageImageHandler"
        type="Groupdocs.Web.UI.Handlers.GetDocumentPageImageHandler, Groupdocs.Viewer,Culture=neutral" />
      <add name="LoadFileBrowserTreeDataHandler" verb="*" path="document-viewer/LoadFileBrowserTreeDataHandler"
        type="Groupdocs.Web.UI.Handlers.LoadFileBrowserTreeDataHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetImageUrlsHandler" verb="*" path="document-viewer/GetImageUrlsHandler"
        type="Groupdocs.Web.UI.Handlers.GetImageUrlsHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetCssHandler" verb="GET" path="document-viewer/CSS/GetCssHandler"
        type="Groupdocs.Web.UI.Handlers.CssHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="images" verb="GET" path="document-viewer/images/*"
        type="Groupdocs.Web.UI.Handlers.EmbeddedImageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="fonts" verb="GET" path="document-viewer/fonts/*" type="Groupdocs.Web.UI.Handlers.GetFontHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetScriptHandler" verb="GET,POST" path="document-viewer/GetScriptHandler"
        type="Groupdocs.Web.UI.Handlers.ScriptHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetFileHandler" verb="GET" path="document-viewer/GetFileHandler"
        type="Groupdocs.Web.UI.Handlers.GetFileHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetPdf2JavaScriptHandler" verb="GET,POST" path="document-viewer/GetPdf2JavaScriptHandler"
        type="Groupdocs.Web.UI.Handlers.GetPdf2JavaScriptHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetPdfWithPrintDialogHandler" verb="GET,POST" path="document-viewer/GetPdfWithPrintDialogHandler"
        type="Groupdocs.Web.UI.Handlers.GetPdfWithPrintDialogHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetPrintableHtmlHandler" verb="GET,POST" path="document-viewer/GetPrintableHtmlHandler"
        type="Groupdocs.Web.UI.Handlers.GetPrintableHtmlHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetResourceForHtmlHandler" verb="GET,POST,HEAD" path="document-viewer/GetResourceForHtmlHandler"
        type="Groupdocs.Web.UI.Handlers.GetResourceForHtmlHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="GetDocumentPageHtmlHandler" verb="GET,POST" path="document-viewer/GetDocumentPageHtmlHandler"
        type="Groupdocs.Web.UI.Handlers.GetDocumentPageHtmlHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="ReorderPageHandler" verb="GET,POST" path="document-viewer/ReorderPageHandler"
        type="Groupdocs.Web.UI.Handlers.ReorderPageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="RotatePageHandler" verb="GET,POST" path="document-viewer/RotatePageHandler"
        type="Groupdocs.Web.UI.Handlers.RotatePageHandler, Groupdocs.Viewer, Culture=neutral" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>

  
  <location path="Admin">
    <system.web>
      <authorization>
        <allow users="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="User">
    <system.web>
      <authorization>
        <allow users="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>